html,
body{
	height: 100%;
	background-color: #f2f2f2;
}

#pillnav{
	height: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50%;
}

#title{
	text-align: center;
	margin-top: 7%;
}

#login-modal{
	margin-top: 10%;
}

#signup-modal{
	margin-top: 10%;
}

#recordWhat{
	margin: 1.5%;
}


